@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');



.header-logo{
    margin-right: auto;
}

.header-header-1{
    max-width: 275px;
    font-size: 30px;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffffde;
    font-family: 'Corinthia', sans-serif;
    margin: 0;
    text-align: center;
}

.wrap{
    max-width: 1300px;
    padding: 0 30px;
    margin:0 auto;
    padding: 0;
    background:rgba(255, 255, 255, 0.384);
    outline: 1px solid rgba(255, 255, 255, 0.493);
    
}
.container{
    margin: 0 auto;
}
/* 
навигация верх
*/
body{
    background: url(https://xn--80aahvkuapc1be.xn--p1ai/800/600/https/funart.pro/uploads/posts/2020-04/1587216240_14-p-zadnie-foni-dlya-saitov-53.jpg);
    background-size: cover; 
}

.header{
    background-color: rgba(255, 255, 255, 0.308);
    border-radius: 2px;
    padding: 10px;
}
/* 
общие настройки для ссылок 
*/

.header{
    display: flex;
    align-items: center;
}

a{
    color: rgb(159, 252, 252);
    text-decoration: none;   
}

a:link{
    color: #000;
}

ul{
    display: flex;
    justify-content: end;
    text-align: center;
    margin: 0;
}

li{
    
    padding: 5px;
    font-size: 1.4em;
    display: inline;
    margin-right: 20px;
    background-color: rgb(133, 125, 115);
    border: 1px solid aliceblue ;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    background-color: transparent;
}

li:hover{
    background-color: rgba(114, 114, 114, 0.493);
}


/* 
Нечто
*/
.nechto {
    position: relative;
}

.nechto:hover ~ .hover-pic{
    display:block;
}

.hover-pic{
    display:none;
    position: absolute;
    top:36px;
    left: 0;
}



/* 
Поеск
*/
.search{
   
}
.search span{
    padding: 5px;
    color: white;
    /* background-color: rgb(0, 0, 0); */
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;

}
input{
    margin-left: 5px;
    width: 50%;
}


/* 
Середина
*/

.menu{
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.308);
}
.menu img {
    /* display: block; */
    max-width: 50%;
    float:left;
    margin: 0 5px;

    }


.foot p{
    text-align: center;
}

@media (max-width: 700px ) {
    ul{
        padding: 0;
        text-align: center;
        margin: 0;
    }

    li{
        /* display: block; */
        padding: 0;
        margin-left: 0.5em;
     
    }
}

@media (max-width: 350px ) {
        ul{
            padding: 0;
            text-align: left;
            margin: 0;
        }
    
        li{
            display: block; 
            padding: 0;
            margin-left: 0.5em;
    }
}
    